.feed {
    flex: 1;
    overflow-y: scroll;
}

.feed::-webkit-scrollbar {
    display: none;
}

.title {
    color: rgb(227, 224, 224);
    letter-spacing: 6px;
    font-weight: bold;
    font-size: 3rem;
    padding-top: 20px;
}

.titleColor {
    color: rgb(232, 139, 201);
    padding-left: 5px;
    padding-right: 5px;
    font-size: 3.5rem;
}